@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


:root{
    --text-color :#fff;
    --header-weight: 600;
    --primary-color: hsl(257, 40%, 49%);
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-weight: 400;
    font-family: "Poppins",sans-serif;
}

.main{
    background: hsl(257, 40%, 49%);
    min-height: 100vh;
    background-image: url("./images/bg-desktop.svg");
    color: #fff;
}

a{
    text-decoration: none;
    color: #fff;
}

.nav{
    padding: 40px;
}

.nav__image{
    width: 200px;
    height: auto;
}


.main__content{
    display: flex;
    align-items: center;
    margin: 0;
    justify-content: space-between;
}

.main__image img{
    width: 80%;
    height: auto;
    margin: 40px;
    margin-left: 60px;
}

.content__paragraph{
    position: relative;
    right: 4%;
    color: #fff;
    width: 70vh;
    margin-top: -110px;
    margin-right: 70px;
}

.content__header{
    font-weight: bolder;
    margin-top: 20px;
    margin-bottom: 20px;
}

.content__body{
    font-weight:100;
}

.content__btn{
    margin-top: 25px;
    width: 45%;
    border-radius: 30px;
    padding: 14px;
    color: var(--primary-color);
    border: none;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
}

footer{
    display: flex;
    align-items: flex-end;
    height: 7vh;
    width: 100%;
    justify-content: center;
}

@media screen and (max-width: 600px) {
    .main{
        background-image: url('./images/bg-mobile.svg');
        background-repeat: no-repeat;
    }

    .nav{
        padding: 25px;
    }
    .nav__image{
        width: 150px;
        height: auto;
    }
    .main__content{
        display: block;
    }

    .main__image img{
        justify-content: center;
        align-items: center;
        margin: 40px;
        margin-left: 1.67rem;
    }

    .content__paragraph{
        display: block;
        width: 90%;
        align-items: center;
        justify-content: center;
        text-align: center;
        margin: 0 auto;
    }

    footer{
        display: flex;
        align-items: flex-end;
        height: 17vh;
        width: 100%;
        justify-content: center;
    }
}


@media (min-width: 768px) and (max-width: 1024px){
    .content__paragraph{
        width: 90%;
        height: auto;
        font-size: 10px;
        align-items: center;
        justify-content: center;
        margin: 0 auto;
        margin-top: -4%;
    }

    .main__content{
        display: block;
    }
    .content__paragraph{
        margin-top: 30px;
        font-size: 24px;
        align-items: center;
        text-align: center;
    }
    
    .content__body{
        margin-left: 1.5rem;
    }

    .main__image img{
        justify-content: center;
        align-items: center;
        margin: 40px;
        margin-left: 5.97rem;
    }

    footer{
        display: flex;
        align-items: flex-end;
        height: 10vh;
        width: 100%;
        justify-content: center;
    }
}